body {
  background-color: #000d20;
  color: #fff;
}

.navbar {
  background-color: #40d600 !important;
}

.navbar-brand img {
  width: 2.5em;
}

.games-container {
  max-width: 750px;
}

.game-container {
  color: rgb(241, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.288), 0 6px 20px 0 rgba(0, 0, 0, 0.336);
  border: 1px solid #000d20;
  cursor: pointer;
}

.game-container:hover {
  border-color: #40d600;
}

.team-logo {
  max-width: 2em;
}

.top-prediction {
  border: 1px solid #0052d1;
  max-width: 350px;
}

.user-prediction {
  border: 1px solid #0052d1;
}

.btn-success {
  background-color: #2b8f00;
}

.btn-success:hover {
  background-color: #40d600;
}

.predict-form {
  border: 1px solid #0052d1;
}

.predict-input {
  max-width: 50px;
}

.football-filter {
  border: 1px solid #40d600;
  cursor: pointer;
  width: 80px;
}

.football-filter:hover {
  color: #40d600;
}

.liked {
  color: #40d600;
}
